/src/Ewallet.AuthApi.Application/bin
/src/Ewallet.AuthApi.Api/obj
/src/Ewallet.AuthApi.Core/obj
/src/Ewallet.AuthApi.Infrastructure/obj
/src/Ewallet.BillApi.Api/obj
/src/Ewallet.BillApi.Application/obj
/src/Ewallet.BillApi.Core/obj
/src/Ewallet.BillApi.Infrastructure/bin
/src/Ewallet.BillApi.Infrastructure/obj
/src/Ewallet.FakeBankApi/bin
/src/Ewallet.FakeBankApi/obj
/src/Ewallet.FakeEmailApi/bin
/src/Ewallet.FakeEmailApi/obj
/src/Ewallet.FakeMunicipalityApi/obj
/src/Ewallet.FakeSmsApi/bin
/src/Ewallet.FakeSmsApi/obj
/src/Ewallet.GatewayApi/bin
/src/Ewallet.Net9Ui/obj
/src/Ewallet.NotificationApi.Api/obj
/src/Ewallet.NotificationApi.Application/obj
/src/Ewallet.NotificationApi.Core/obj
/src/Ewallet.NotificationApi.Infrastructure/obj
/src/Ewallet.Shared/obj
/src/Ewallet.TransactionApi.Api/bin
/src/Ewallet.TransactionApi.Api/obj
/src/Ewallet.TransactionApi.Application/obj
/src/Ewallet.TransactionApi.Core/obj
/src/Ewallet.TransactionApi.Infrastructure/obj
/src/Ewallet.UserApi.Api/bin
/src/Ewallet.UserApi.Api/obj
/src/Ewallet.UserApi.Application/obj
/src/Ewallet.UserApi.Core/obj
/src/Ewallet.UserApi.Infrastructure/obj
/src/Ewallet.WalletApi.Api/bin
/src/Ewallet.WalletApi.Api/obj
/src/Ewallet.WalletApi.Core/obj
/src/Ewallet.WalletApi.Infrastructure/obj
/src/Ewallet.WalletApi.Application/obj
/src/Ewallet.UserApi.Infrastructure/bin
/src/Ewallet.UserApi.Application/bin
/src/Ewallet.TransactionApi.Infrastructure/bin
/src/Ewallet.Shared/bin
/src/Ewallet.NotificationApi.Infrastructure/bin
/src/Ewallet.NotificationApi.Application/bin
/src/Ewallet.NotificationApi.Core/bin
/src/Ewallet.Net9Ui/bin
/src/Ewallet.GatewayApi/obj
/src/Ewallet.FakeMunicipalityApi/bin
/src/Ewallet.AuthApi.Application/obj
/src/Ewallet.BillApi.Api/bin
/src/Ewallet.AuthApi.Infrastructure/bin
/src/Ewallet.AuthApi.Api/bin
/src/Ewallet.AuthApi.Core/bin
/src/Ewallet.BillApi.Application/bin
/src/Ewallet.BillApi.Core/bin
/src/Ewallet.NotificationApi.Api/bin
/src/Ewallet.TransactionApi.Application/bin
/src/Ewallet.TransactionApi.Core/bin
/src/Ewallet.WalletApi.Application/bin
/src/Ewallet.WalletApi.Core/bin
/src/Ewallet.WalletApi.Infrastructure/bin
/src/Ewallet.UserApi.Core/bin
